<!DOCTYPE html>
	<html lang="pl" dir="ltr" manifest="manifest.appcache">
		<head>
			<meta charset="UTF-8">
			<meta name="description" value="{DESCRIPTION}">
			<title>{TITLE}{TITLESEPARATOR}{SITETITLE}</title>
			<link rel="stylesheet" href="/css/framework.css">
			<!--TEST TEST TEST-->
		</head>
		<body class="fluid">
			<header class="topbar gradient">
				<h1><a href="{URI}">{SITETITLE}</a></h1>
			</header>
			<main class="content">
				{CONTENT}
			</main>
			<nav class="sidebar nice">
				<h2 class="hidden">Menu</h2>
				{MENU}
			</nav>
			<footer class="footer">Copyright {YEAR} by Ktoś Tam</footer>
		</body>
	</html>